[project]
name = "rod-hockey-robot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "pygame>=2.6.1",
    "viam-sdk>=0.71.0",
]
